.profile-section form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.order-details-box{
    width: 60%;
    height: 28%;
    margin-top: 10px;
    display: flex;
    border-radius: 20px;
    border-right: 1px solid goldenrod;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.order-details-box:hover{
    box-shadow: rgb(234, 211, 183) 0px 6px 12px -2px, rgb(239, 216, 188) 0px 3px 7px -3px;
}
.order-details-box-01{
    width: 40%;
    height: 100%;
}
.order-details-box-01 img{
    border-left: 1px solid goldenrod;
    border-radius: 20px;
}
.order-details-box-02{
    width: 60%;
    height: 100%;
    text-align: center;
}
.order-details-box-03{
    width: 100%;
    height: 18%;
    display: flex;
}
.order-invoice-01{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-invoice-02{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.order-details-box-02 h3{
    color: rgb(247,147,30);
}
.order-cancel{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: end;
}
.order-cancel button{
    width: 30%;
    height: 95%;
    background-color:rgb(247,147,30);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
